@import '{}/imports/ui/common/slider.import';

.widget
  .canvas-background
    padding 5px
  .prop-panel
    width 100%
    &>div
      display inline-block
    .menu
      width 10em
      .menu-item
        position relative
        .switch
          position absolute; top 0; right 0;font-size 0.8em
    .content
      width: calc(100% - 10em)
